<div class="more">
  <ul class="more_item">
    <li>
      <%= image_tag user.picture, class: 'user-picture' if user.picture.attached? %>
    </li>
    <li><%= user.nickname %></li>
    <li><%= user.text %></li>
  </ul>

  <span><%= image_tag 'arrow_top.png' %></span>
  <ul class="more_list">
    <li>
      <%= link_to '詳細', user_path(user.id), method: :get %>
    </li>
    <% if user_signed_in? && current_user == user %>
      <li>
        <%= link_to '編集', edit_user_path(user.id), method: :get %> 
      </li>
      <li>
        <%= link_to '削除', user_path(user.id), method: :delete %>
      </li>
    <% end %>
  </ul>
</div>
