<div class="contents">
  <div class="content1">
    <h1 class="class1">MatchYou</h1>
    <div class="wrapper">
      <span class="introduction">〜つながりを、もっと身近に〜<br><br><br><br>プロフィールを登録して検索するだけで<br><br>簡単に他のユーザーを探すことができる<br><br>フレンドマッチングサービス</span>
      <%= link_to image_tag("undraw_Add_friends_wa2a.png", class:"undraw-img1"), "#" %>
    </div>
  </div>

  <div class="content2">
    <div class="content2-1">
      <h2>まずはプロフィールを登録</h2>
        <div class="wrapper">
          <%= link_to image_tag("undraw_profile_6l1l.png", class:"undraw-img2"), "#" %>
        <span class="box1"><br>最初にプロフィールを登録して、<br><br>他のユーザーに知ってもらいます。<br><br>直近で登録した3名は「最近登録したユーザー」<br><br>として表示されます。</span>
      </div>
    </div>

    <div class="content2-2">
      <h2>気になる人には、いいね！で意思表示</h2>
        <div class="wrapper">
        <span class="box1"><br>検索で見つけた相手に好意を伝えたい時に<br><br>いいね！を押します。</span>
        <%= link_to image_tag("undraw_Social_life_re_x7t5.png", class:"undraw-img3"), "#" %>
        </div>
    </div>

    <div class="content2-3">
      <h2>マッチングした後はチャットで交流</h2>
        <div class="wrapper">
        <%= link_to image_tag("undraw_Chatting_re_j55r.png", class:"undraw-img2"), "#" %>
        <span class="box1"><br>相手からもいいね！をもらえたらマッチング成立です。<br><br>チャットで親睦を深めることができます。</span>
        </div>
    </div>
  </div>

    <div class="content3">
      <%= search_form_for @p, url: users_search_path do |f| %>
        <br><h2>プロフィールの登録が完了したら検索してみましょう！</h2><br>

        <div class="searches">
          <div class="search">
            <div class="search1">
            <%= f.label :age_gteq, '年齢' %>
              <div class="search3">
              <%= f.radio_button 'age_gteq', '',{:checked => true} %>
                  指定なし
              </div>
              <div class="search3">
              <%= f.radio_button 'age_gteq', '15' %> 
                  15歳以上
              </div>
              <div class="search3">
              <%= f.radio_button 'age_gteq', '20' %>
                  20歳以上
              </div>
              <div class="search3">
              <%= f.radio_button 'age_gteq', '30' %>
                  30歳以上
              </div>
              <div class="search3">
              <%= f.radio_button 'age_gteq', '40' %>
                  40歳以上
              </div>
              <br>
            </div>
            <br>
          </div>
          <div class="search2">
            <div class="search">
              <%= f.label :gender_id_eq, '性別' %>
              <%= f.collection_select :gender_id_eq, Gender.all, :id, :name,  include_blank: '---' %><br>
            </div>

            <div class="search">
              <%= f.label :birth_place_id_eq, '出身地' %>
              <%= f.collection_select :birth_place_id_eq, BirthPlace.all, :id, :name,  include_blank: '---' %><br>
            </div>

            <div class="search">
              <%= f.label :residence_id_eq, '居住地' %>
              <%= f.collection_select :residence_id_eq, Residence.all, :id, :name,  include_blank: '---' %><br>
            </div>

            <div class="search">
              <%= f.label :blood_type_id_eq, '血液型' %>
              <%= f.collection_select :blood_type_id_eq, BloodType.all, :id, :name,  include_blank: '---' %><br>
            </div>
          </div>
        </div>

        <div class="search-btn">
          <br><%= f.submit '検索' %>
        </div>
      <% end %>
    </div>
  <%# <% @users.each do |user| %>
    <%# <%= render partial: "user", locals: { user: user } %>
  <%# <% end %>
</div>