<div class="contents row">
<h2>つながりを、もっと身近に</h2>
<span>プロフィールを登録して検索するだけで簡単に他のユーザーを探すことができるフレンドマッチングアプリサービス</span>
 <%= link_to image_tag("undraw_Add_friends_wa2a.png", class:"undraw-img"), "#" %>

    <%# <%= f.label :gender, '性別' %>
    <%# <%= f.radio_button :gender_eq, Gender.all.map{|st| [st.name, st.id]} %>
    <%# 指定なし %>
    <%# <%= f.radio_button :gender_eq, Gender.all.map{|st| [st.name, st.id]} %>
    <%# 男 %>
    <%# <%= f.radio_button :gender_eq, Gender.all.map{|st| [st.name, st.id]}, '2' %>
    <%# 女 %>

    <%# <%= f.label :age, '年齢' %>
    <%# <%= f.radio_button :age_lteq, '' %>
    <%# 指定なし %>

  <%= search_form_for @p, url: users_search_path do |f| %>
    <%# <%= f.search_field :name_cont %> 

    <%# <%= f.label :age_gt（○歳以上） %>
    <%# <%= f.search_field :age_gt %>

    <%# <%= f.label :age_lt（○歳以下） %> 
    <%# <%= f.search_field :age_lt %> 
    <%# <br> %>

    <%= f.label :gender, '性別' %>
    <%= f.collection_select :gender_id, Gender.all, :id, :name, {} %>
    <br>

    <%= f.label :birth_place, '出身地' %>
    <%= f.collection_select :birth_place_id, BirthPlace.all, :id, :name, {} %>
    <br>

    <%= f.label :residence, '居住地' %>
    <%= f.collection_select :residence_id, Residence.all, :id, :name, {} %>
    <br>

    <%= f.label :blood_type, '血液型' %>
    <%= f.collection_select :blood_type_id, BloodType.all, :id, :name, {} %>
    <br>
    
    <%= f.submit '検索' %>
  <% end %>

  <%# <% @users.each do |user| %>
    <%# <%= render partial: "user", locals: { user: user } %>
  <%# <% end %>


<h2>まずはプロフィールを登録</h2>
<span>最初にプロフィールを登録して、他のユーザーに知ってもらいます。直近で登録した3名は、「最近登録したユーザー」として表示されます。
</span>
 <%= link_to image_tag("undraw_profile_6l1l.png", class:"undraw-img"), "#" %>

<h2>気になる人には、いいね！で意思表示</h2>
<span>自分と共通点が見つかって相手に好意を伝えたい時に、いいね！を押します。</span>
 <%= link_to image_tag("undraw_Social_life_re_x7t5.png", class:"undraw-img"), "#" %>

<h2>マッチングした後はチャットで交流</h2>
<span>相手からもいいね！をもらえたら、マッチング成立です。チャットで親睦を深められます。</span>
 <%= link_to image_tag("undraw_Chatting_re_j55r.png", class:"undraw-img"), "#" %>

</div>