<div class="contents row">
<h2>
項目を選択して検索
</h2>
  <%= search_form_for @p, url: users_search_path do |f| %>
    <%# <%= f.label :gender, '性別' %>
    <%# <%= f.radio_button :gender_eq, Gender.all.map{|st| [st.name, st.id]} %>
    <%# 指定なし %>
    <%# <%= f.radio_button :gender_eq, Gender.all.map{|st| [st.name, st.id]} %>
    <%# 男 %>
    <%# <%= f.radio_button :gender_eq, Gender.all.map{|st| [st.name, st.id]}, '2' %>
    <%# 女 %>
    <br>

    <%# <%= f.label :age, '年齢' %>
    <%# <%= f.radio_button :age_lteq, '' %>
    <%# 指定なし %>
    <%= f.label :age_gt %>
    <%= f.search_field :age_gt %>

    <%= f.label :age_lt %>
    <%= f.search_field :age_lt %>
    <br>

    <%= f.label :birth_place, '出身地' %>
    <%= f.collection_select :birth_place_id, @user_birth_place_id, :birth_place_id, :birth_place_id,  include_blank: '指定なし' %>
    <br>

    <%= f.label :residence, '居住地' %>
    <%= f.collection_select :residence_id, @user_residence_id, :residence_id, :residence_id,  include_blank: '指定なし' %>
    <br>

    <%# <%= f.label :blood_type, '血液型' %>
    <%# <%= f.radio_button :blood_type_lteq, '' %> 
    <%# 指定なし %>
    <%# <%= f.radio_button :blood_type_eq, '1' %>
    <%# A %>
    <%# <%= f.radio_button :blood_type_eq, '2' %>
    <%# B %>
    <%# <%= f.radio_button :blood_type_eq, '3' %>
    <%# O %>
    <%# <%= f.radio_button :blood_type_eq, '4' %>
    <%# AB %>
    <%# <br> %>
    <%= f.submit '検索' %>
  <% end %>

  <% @users.each do |user| %>
    <%= render partial: "user", locals: { user: user } %>
  <% end %>
</div>