<%# <%= form_with(url: user_users_search_path, local: true, method: :get, class: "search-form") do |form| %>
  <%# <%= form.submit "検索", class: "search-btn" %>
<%# <% end %> 
<div class="contents row">
<h1>
プロフィールを登録して、自分に合いそうな人を検索してみましょう！
</h1>
    <%# <%= f.label :gender, '性別' %>
    <%# <%= f.radio_button :gender_eq, Gender.all.map{|st| [st.name, st.id]} %>
    <%# 指定なし %>
    <%# <%= f.radio_button :gender_eq, Gender.all.map{|st| [st.name, st.id]} %>
    <%# 男 %>
    <%# <%= f.radio_button :gender_eq, Gender.all.map{|st| [st.name, st.id]}, '2' %>
    <%# 女 %>

    <%# <%= f.label :age, '年齢' %>
    <%# <%= f.radio_button :age_lteq, '' %>
    <%# 指定なし %>

  <%= search_form_for @p, url: users_search_path do |f| %>
    <%# <%= f.search_field :name_cont %> 

    <%= f.label :age_gt（○歳以上） %>
    <%= f.search_field :age_gt %>

    <%= f.label :age_lt（○歳以下） %>
    <%= f.search_field :age_lt %>
    <br>

    <%= f.label :gender, '性別' %>
    <%= f.collection_select :gender_id, Gender.all, :id, :name, {} %>
    <br>

    <%= f.label :birth_place, '出身地' %>
    <%= f.collection_select :birth_place_id, BirthPlace.all, :id, :name, {} %>
    <br>

    <%= f.label :residence, '居住地' %>
    <%= f.collection_select :residence_id, Residence.all, :id, :name, {} %>
    <br>

    <%= f.label :blood_type, '血液型' %>
    <%= f.collection_select :blood_type_id, BloodType.all, :id, :name, {} %>
    <br>
    
    <%= f.submit '検索' %>
  <% end %>

  <%# <% @users.each do |user| %>
    <%# <%= render partial: "user", locals: { user: user } %>
  <%# <% end %>
</div>