<h1>
  検索結果
</h1>

<%# 検索結果の個数で条件分岐 %>
<% if @results.length !=0 %>
  <% @results.each do |result| %>
    <td>
    <br>
    <li>
      <% if result.picture.attached? %>
        <%= image_tag result.picture, class:"user-picture" %>
      <% end %>
        <%= result.nickname %>
        <%= result.gender.name %>
        <%= result.age %>
        <%= result.birth_place.name %>
        <%= result.residence.name %>
        <%= result.blood_type.name %>
    </li>
      <%= link_to '詳細プロフィールを見る', user_path(result.id), method: :get %>
  <% end %>
<% else %>
  該当する人はいません
<% end %>
<br>
<%= link_to 'トップページへ戻る', root_path %>