<div class="contents row">
    <%= image_tag @user.picture, class: 'user-picture' if @user.picture.attached? %>
    <span class="name">
      <a href="/users/<%= @user.id %>">
        <p><%= @user.nickname %></p>
        <p><%= @user.gender.name %></p>
        <p><%= @user.birth_place.name %></p>
        <p><%= @user.residence.name %></p>
        <p><%= @user.blood_type.name %></p>
        <p><%= @user.birth_date %></p>
        <p><%= @user.age %></p>
        <p><%= @user.profession %></p>
        <p><%= @user.hobby %></p>
        <p><%= @user.profession %></p>
        <p><%= @user.text %></p>
      </a>
    </span>
    <%= link_to 'チャットしてみる', user_chat_path(@user.id), method: :get %>
</div>
