<%# <h2 style="text-align:center"><%="#{@partner.nickname}さんとのチャット"%></h2> %>
<%# <div id="chats">
  <% @chats.each do |chat|%>
    <%# <%if chat.user_id==user_id%> %>
      <%# <div class="mycomment"> %>
        <%# <p><%=chat.sentence%></p> %>
      <%# </div> %>
    <%# <%else%> %>
      <%# <div class="fukidasi"> %>
        <%# <div class="faceicon"> %>
          <%# <img src="/assets/profile.png" alt="相手"> %>
        <%# </div> %>
        <%# <div class="chatting"> %>
          <%# <div class="says"> %>
            <%# <p><%=chat.sentence%></p>  %>
        <%# </div> %>
      <%# </div> %>
      <%# </div> %>
    <%# <%end%> %>
  <%# <%end%> %>
<%# </div> %> %>

<div id ="chats">
  <%= render @chats %>
</div>
<form>
  <label>Say something:</label><br>
  <input type="text" data-behavior="chat_speaker">
</form>
<%# 
<form id="send-form">
  <input type="text" id="sentence" placeholder="入力してね" style="width:30%;">
  <%# <input type="text" id="sentence" value="" placeholder="入力してね" style="width:30%;"> %>
  <%# <input type="submit" value="送信" id="send"> %>
  <%# <input id="current_user_id" type="hidden" value= "<%=current_user.id%>"> %>
  <%# <input id="partner_id" type="hidden" value= "<%=@partner.id%>"> %>
<%# </form> %> %>
